html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Your Notes | NoteBook ©
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		//link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		//script(src="js/libs.min.js")
		script(src="js/common.js")
	body
		header
			.logo
				img(src="img/logo.png" alt="logo")
			.container
				.top-bar
					button.modal-button(data-modal="side-bar")
						i.fas.fa-bars
					img(src="img/logo.png" alt="logo")
				button.big-button.new-note
					i.fas.fa-plus
					| CREATE NEW NOTE
		main
			.container
				.side-bar(data-modal="side-bar")
					.user-info
						img(src="img/user.png", alt="user photo")
						p#user-name
							| Alex Hlukhyi
						p#user-email
							| o.hlukhyi@gmail.com
					button.small-button
						| SIGN OUT
				.data
					.date
						p
							| 03.04.2020
						.notes
							.note
								.note-head
									p
										i.fas.fa-thumbtack
										| Note 1
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
								.note-controls
									button.edit-note
										i.far.fa-edit
										| Edit
									button.delete-note
										i.far.fa-trash-alt
										| Delete
							.note
								.note-head
									p
										| Note 2
								p
									| Cumque ducimus, ea incidunt laboriosam modi odio pariatur quas temporibus voluptas? Asperiores at eligendi eos eum labore quae ratione ullam voluptate voluptatem.
								.note-controls
									button.edit-note
										| Edit
									button.delete-note
										| Delete
							.note
								.note-head
									p
										| Note 3
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
								.note-controls
									button.edit-note
										| Edit
									button.delete-note
										| Delete
							.note
								.note-head
									p
										| Note 4
								p
									| Asperiores at eligendi eos eum labore quae ratione ullam voluptate voluptatem.
								.note-controls
									button.edit-note
										| Edit
									button.delete-note
										| Delete
					.date
						p
							| 02.04.2020
						.notes
							.note
								.note-head
									p
										| Note 1 abc
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
								.note-controls
									button.edit-note
										| Edit
									button.delete-note
										| Delete
							.note
								.note-head
									p
										| Note 2 asd
								p
									| Asperiores at eligendi eos eum labore quae ratione ullam voluptate voluptatem.
								.note-controls
									button.edit-note
										| Edit
									button.delete-note
										| Delete
					.date
						p
							| 01.04.2020
						.notes
							.note
								.note-head
									p
										| Note
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								.note-controls
									button.edit-note
										| Edit
									button.delete-note
										| Delete
		.overlay
