html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title NoteBook ©
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		script(src="js/autosize.min.js")
		script(src="js/common.js")
	body
		header
			.logo
				img(src="img/logo.png" alt="logo")
			.container
				.top-bar
					button.modal-button(data-modal="side-bar")
						i.fas.fa-bars
					//.clear
					img(src="img/logo.png" alt="logo")
				button.big-button.new-note.modal-button(data-modal="new-note")
					i.fas.fa-plus
					| CREATE NEW NOTE
		main
			.container
				.side-bar(data-modal="side-bar")
					.user-info
						img(src="img/logo-short.png", alt="user photo")
						p#user-name
							| Alex Hlukhyi
						p#user-email
							| o.hlukhyi@gmail.com
					button.small-button
						i.fas.fa-sign-out-alt
						| SIGN OUT
				//.sign-in-section
				//	p Use your credentials to sign in:
				//	input#sign-in-email(type='text' placeholder='E-mail')
				//	input#sign-in-password.wrong(type='password' placeholder='Password')
				//	p.error Your e-mail or password are incorrect!
				//	button.big-button
				//		i.fas.fa-sign-in-alt
				//		| SIGN IN
				//	p Don't have an account?
				//	button.small-button
				//		i.fas.fa-user-plus
				//		| SIGN UP
				//.sign-up-section
				//	p Enter your credentials to create new account:
				//	input#sign-up-name(type='text' placeholder='Your name and surname')
				//	input#sign-up-email(type='text' placeholder='E-mail')
				//	input#sign-up-password(type='password' placeholder='Password')
				//	input#sign-up-repeat-password(type='password' placeholder='Repeat password')
				//	button.big-button.sign-in
				//		i.fas.fa-user-plus
				//		| SIGN UP
				//	p Already have an account?
				//	button.small-button.sign-in
				//		i.fas.fa-sign-in-alt
				//		| SIGN IN
				.notes
					.note
						.note-head
							i.fas.fa-thumbtack
							input#note-name-1(type='text' placeholder='To do...')
							p 01.02.20
						textarea#note-description-1(maxlength=250 placeholder='Any details?') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
						button.delete-note
							i.far.fa-trash-alt
							| Delete
					.note
						.note-head
							i.fas.fa-thumbtack
							input#note-name-2(type='text' placeholder='To do...')
							p 01.02.20
						textarea#note-description-2(maxlength=250 placeholder='Any details?') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
						button.delete-note
							i.far.fa-trash-alt
							| Delete
					.note
						.note-head
							i.fas.fa-thumbtack
							input#note-name-3(type='text' placeholder='To do...')
							p 01.02.20
						textarea#note-description-3(maxlength=250 placeholder='Any details?') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
						button.delete-note
							i.far.fa-trash-alt
							| Delete
					.note
						.note-head
							i.fas.fa-thumbtack
							input#note-name-4(type='text' placeholder='To do...')
							p 01.02.20
						textarea#note-description-4(maxlength=250 placeholder='Any details?') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
						button.delete-note
							i.far.fa-trash-alt
							| Delete
					.note
						.note-head
							i.fas.fa-thumbtack
							input#note-name-5(type='text' placeholder='To do...')
							p 01.02.20
						textarea#note-description-5(maxlength=250 placeholder='Any details?') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate dolor, ea esse ex molestiae.
						button.delete-note
							i.far.fa-trash-alt
							| Delete
		.overlay
		.modal(data-modal="new-note")
			.new-note-section
				p Enter needed information:
				input#note-name(type='text' placeholder='Name of the note')
				input#note-date(type='date')
				textarea#note-description(maxlength=250)
				button.big-button
					i.fas.fa-plus
					| CREATE
