a, button
	font-family: 'Shark-Random-Funnyness', 'Roboto', sans-serif
	font-size: 20px
	white-space: nowrap
	&:hover, &:active, &:focus, &:link, &:visited
		text-decoration: none

a
	color: $darkgrey
	&:hover
		color: $yellow


#new-note, #sign-out
	box-sizing: content-box
	background-color: $red
	transition: box-shadow 0.5s
	&:hover
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)

#new-note
	padding: 0 20px 15px
	height: 35px
	border-radius: 10px

#sign-out
	margin: 15px 0
	font-size: 16px
	padding: 0 15px 10px
	height: 25px
	border-radius: 5px

.edit-note
	&:hover
		color: $yellow

.delete-note
	&:hover
		color: $red