@media (max-width: 1024px)
	header
		background-color: #4056a1
		color: white
		.container
			.wrapper
				justify-content: space-between
				.smalllogo
					display: block !important
	.logo
		display: none

@media (max-width: 625px)
	.slider
		display: none

@media (max-width: 480px)
	header
		height: 110px
		.container
			.wrapper
				flex-wrap: nowrap
				flex-direction: column
				.smalllogo
					text-align: center